@import '../style/navbar';
@import '../style/header';
@import '../style/slider';
@import '../style/info';
@import '../style/about';
@import '../style/services';
@import '../style/experience';
@import '../style/advertising';
@import '../style/contact';

:root {
  --primary-color: #2947A9;
  --secondary-color: ;
  --primary-text-color: #14171F;
  --hover-text-color: #F9995D;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a, p, {
  /* Body/default */
  color: var(--primary-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

