.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1920px;
  height: 5rem;
  justify-content: space-around;
  align-items: center;

  &-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &-text {
    color: var(--primary-color);
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;

    &-span {
      color: var(--primary-color);
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}